body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icon{
  width: 20px;
  display: inline-block;
}


.pagination{
  margin-bottom: 0;
}
.cursor{
  cursor: pointer;
}

html, body{
  height: 100%;
  min-height: 100%;background-color: #f8f9fa!important;
}
.model-opened{
  overflow: hidden;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
.modal.show .modal-dialog{
  z-index: 1050;
}
/********loading***********/
.loading-container * {

  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.page-preloader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 999999;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), height 0s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.page-preloader .txt{
  font-size: 0.8rem;
  margin: 0.3rem 0 0 0;
  text-shadow: 1px 1px 1px #fff;
  padding: 0.1rem 0.6rem;
  color: #4898bf;
  text-align: center;
}
.page-preloader .preloader__icon {
  width: 140px;
  height: 135px;
  padding: 10px 20px 20px 20px;
  border-radius: 500px;
  background-color: #e4ebf1;
  box-shadow: 0px 0px 11px #c9c9c9;
}
.page-preloader svg {
  width: 100px;
  height: 87px;
}
.page-preloader #ship {
  animation: ship 3s ease-in-out infinite;
}
.page-preloader #ship polygon {
  fill: #1C2F4E;
}
.page-preloader #wave1 {
  transform: translate3d(25px, 360px, 0) scale(0.8);
  animation: wave1 4s ease-in-out infinite;
}
.page-preloader #wave1 polygon {
  fill: #6EB2D6;
}
.page-preloader #wave2 {
  transform: translate3d(35px, 400px, 0) scale(0.8);
  animation: wave2 2s ease-in-out infinite;
}
.page-preloader #wave2 polygon {
  fill: #4797BF;
}

@keyframes ship {
  0% {
    transform: translate3d(65px, 0, 0);
  }
  50% {
    transform: translate3d(80px, 20px, 0) rotate(1deg);
  }
  100% {
    transform: translate3d(65px, 0, 0);
  }
}
@keyframes wave1 {
  0% {
    transform: translate3d(25px, 360px, 0) scale(0.8);
  }
  50% {
    transform: translate3d(80px, 360px, 0) scale(0.8);
  }
  100% {
    transform: translate3d(25px, 360px, 0) scale(0.8);
  }
}
@keyframes wave2 {
  0% {
    transform: translate3d(35px, 400px, 0) scale(0.8);
  }
  50% {
    transform: translate3d(85px, 400px, 0) scale(0.8);
  }
  100% {
    transform: translate3d(35px, 400px, 0) scale(0.8);
  }
}
/********\loading************/


